# Unit 5. 숫자 계산하기

## 5.1 정수

In [5]:
# 사칙연산, +, - , *, / , % , //

5 / 2

2.5

In [6]:
# %는 modulo(모듈로), 나머지
5 % 2

1

In [7]:
# // 는 몫을 구한다
5//2

2

In [9]:
# 3의 배수 : 어떤 숫자를 3으로 모듈로 연산을 했을 때 결과과 0
6 % 2

0

In [10]:
# 거듭 제곱
2**10

1024

### 값을 정수(integer)로 변환

In [14]:
int(3.14)

3

In [13]:
int(5/2)

2

In [16]:
# ' single quote', "double quote" 에 포함된 문자열 

int('55')

55

In [21]:
# type 알아보기

string= '55'              #같은 숫자라도, 컴퓨터가 입력하는 방식이 다르다. 
                          #그러므로 type이 달라질 수 있다. 
value = int(string)

type(string), type(value), type(55.0)   # tuple로 값을 포현

(str, int, float)

In [24]:
#몫과 나머지를 동시에 계산 divmod(5,2)
q, r= 5//2, 5 % 2
q, r

(2, 1)

In [25]:
divmod(5,2)

(2, 1)

### 진수

In [28]:
# 2진수, 8진수, 16진수(기억해둬야 함, RGB등에 사용)
0b101, 0o5, 0x5

(5, 5, 5)

## 5.2 실수 (float)
- 정수보다 크고 작은 수를 표현 할 수 있다.
- 모든 숫자를 표현할 수 있는 것은 아니다

In [29]:
3.5 + 2.1

5.6

In [31]:
# 컴퓨터는 실수를 표현할 때 오차가 발생하기 때문입니다. 

4.3-2.7

1.5999999999999996

In [32]:
4.3-2.7==1.6

False

In [34]:
# 실수 값의 정확성을 확인하는 방법
import numpy as np
np.abs((4.3-2.7)-1.6) <1e-10

True

In [35]:
# 실수 + 정수 

4.2 + 5

9.2